target/
deepsea-admin/target/
deepsea-admin/deepsea-admin-enrolment/src/main/generated/*
deepsea-admin/deepsea-admin-enrolment/target/
deepsea-admin/deepsea-admin-mta/src/main/generated/*
deepsea-admin/deepsea-admin-mta/target/
deepsea-client/src/main/generated/*
deepsea-client/target/
deepsea-common/target/
deepsea-product/src/main/generated/*
deepsea-product/target/
deepsea-ui/src/main/generated/*
deepsea-ui/target/
deepsea-ui-menu/src/main/generated/*
deepsea-ui-menu/target
deepsea-underwriting/target/
deepsea-underwriting/deepsea-underwriting-actuarial/src/main/generated/*
deepsea-underwriting/deepsea-underwriting-actuarial/target/