<div class="container" ng-model="bordereau">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Bordereau</div>
        <div class="table-responsive">
          <table class="table table-striped" ng-if="bordereau.length > 0">
            <thead>
            <tr>
              <th>Order Id</th>
              <th>Status</th>
              <th class="hidden-xs">Date</th>
              <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="bordereauLine in bordereau">
              <td>
                <a href="/#/bordereau/{{ bordereauLine.bordereauLineId }}">{{ bordereauLine.bordereauLineId }}</a>
              </td>
              <td>
                {{ bordereauLine.event || 'Created' }}
              </td>
              <td class="hidden-xs">
                {{ bordereauLine.eventDate | date:"MM/dd/yyyy" }}
              </td>
              <td>
                {{ bordereauLine.value | currency }}
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>